body{
    margin: 0;
    font-family: sans-serif;
    background-color: #ccc;
}

header{
    background-image: url(Imagens/bg-4.jpg);
    height: 500px;
    background-size: cover;
    background-position: right bottom center ;
    background-attachment: scroll;
    padding-top: 1px;
}

ul{
    text-align: right;
    padding: 8px 20px;
    
}

li{
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
}

li a{
    background-color: #5c5c5c8c;
    color: white;
    border: white solid 1px;
    padding: 10px;
    margin-left: 15px;
    text-decoration: none;
}

li a:hover{
    background-color: #5c5c5cc7;
}

nav{
    text-align: center;
    margin-top: 120px;
}

nav h1{
    text-transform: uppercase;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px black;
}

nav h2{
    color: white;
    font-size: 15px;
    background-color: #0a0a0ac5;
    padding: 15px;
    display: inline-block;
    border-bottom: 2px solid white;
}

main{
    width: 90%;
    margin: auto;
}

section{

}

article{
    background-color: white;
    padding: 16px;
    margin-bottom: 32px;
    margin-top: 32px;
}

h3{
    background-color: #eeeeee;
    padding: 12px;
    border-bottom: 3px solid #bdbdbd;
}

a.saibamais{
    background-color: #ccc;
    display: inline-block;
    border-radius: 8px;
    margin-top: 30px;
    padding: 8px;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
}

a:hover.saibamais{
    background-color: #b9b9b97a;
}

footer{
    background-color: #6d6d6dbd;
    font-size: 12px;
    text-align: center;
    padding: 1px;
    color: white;
    text-shadow: 1px 1px black;
}
